.header {
  display: table;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../../img/green-building-top.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
  .logo {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 16em;
  }

  .arrows {
    bottom: 80px;
    position: absolute;
  }

  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  
  a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }

  h2 {
    font-size: 3.5em;
    font-weight: 300;
    margin-bottom: 0;
  }

  p {
    font-style: italic;
    font-size: 1.2em;
    font-weight: 300;
  }
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

