.info {
	padding: 0.5rem 0;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
  }
  
  .legend {
	line-height: 18px;
	color: #555;
	font-size: 1em;
  }
  
  .legend i {
	display: inline-block;
	width: 0.9rem;
	height: 0.9rem;
  }

  .legend span {
	  font-size: 0.9rem;
  }
  