nav img {
  width: 50px;
}
.navbar {
  /* background: rgba(255, 255, 255, 0.2); */
  padding-top: 5px;
  padding-bottom: 0px;
}
.navbar button {
  color: #45b549;
  font-size: 1.1em;
  font-weight: 600;
  padding: 0 0.5rem;
}
.navbar button:hover {
  color: #009548;
}

.navbar .btn:focus, .navbar .btn.focus {
  outline: 0;
  box-shadow: none;
}

.navbar .list :nth-child(1) {
  border-right: 1px solid #45b549;
  border-radius: 0;
}
