footer {
  background: #1D1D1D;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
}

footer > .paragraph {
  font-size: 0.9em;
  margin: 0;
}

footer span {
  color: #0FB9B1;
}

footer img {
  width: 24px;
  margin: 0 5px;
}
