.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.leaflet-container {
	height: 100%;
}

.section {
  padding: 70px 0;
}

.white {
  color: white;
}
